body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
}

#top-nav {
    background: black !important;
    height: 70px;
    justify-content: center;
    align-content: center;
    padding: 0 20px 0 20px;
}

#nav-mobile {
    display: block;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/static/img/main_bg.png");
    background-size: cover;
}
main {
    flex: 1 0 auto;
}

p, label{
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: "Apple Braille", serif;
}

p {
    text-align: center;
}

input{
    color: lightgray;
    font-family: Roboto, serif;
}

.login{
    margin-top: 100px;
}

.login .card {
    background: rgba(0,0,0,.8);
    font-size: 16px;
}

#remember-checkbox > input{
    opacity: 1;
}

#title-form {
    text-align: center;
}

#div-remember{
    padding-bottom: 40px;
}