body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
}

#top-nav {
    background: black !important;
    height: 70px;
    justify-content: center;
    align-content: center;
    padding: 0 20px 0 20px;
}

#nav-mobile {
    display: block;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
body {
    background: #fff;
}