img {
    max-width: 100% !important;
    height: auto !important;
}

.subscriptions {
    padding-bottom: 100px;
}

.card {
    max-width: 300px;
    height: 470px;
    border-radius: 30px;
    margin-right: 50px;
}

.subscription {
    padding-bottom: 30px;
}

.cover-box {
    text-align: center;
    padding: 50px;
}

.manga-title {
    padding-top: 30px;
    text-align: center;
}