body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
}

#top-nav {
    background: #000000 !important;
    height: 70px;
    justify-content: center;
    align-content: center;
    padding: 0 20px 0 20px;
}

#nav-mobile {
    display: block;
}

body{
    background: var(--background-color);
}

a {
    color: var(--color-primary);
}