body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
}

.navbar-static-top, #content {
    padding-left: 300px;
}

#top-nav {
    background: black !important;
    justify-content: center;
    padding: 0 20px 0 20px;
}

header {
}

