.panel {
    padding: 30px 50px 50px 50px;
}

.card {
    width: 400px;
    min-height: 600px;
    border-radius: 14px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.admin-section-title {
    padding-bottom: 50px;
}

.last-run {
    font-style: italic;
    padding-bottom: 50px;
}

.card-content>div {
    padding: 20px;
}

.function-btn {
    text-align: center;
}

.item-border {
    border: #5e6ff7 2px solid;
    border-radius: 20px;
    text-align: center;
}