body {
    padding-top: 0 !important;
}

.btn-center{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title{
    text-align: center;
    padding-bottom: 50px;
}

.helptext{
    color: gray;
}