body {
    /*padding-top: 0 !important;*/
    height: 10% !important;
}

.btn-center{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-title{
    text-align: center;
    padding-bottom: 50px;
}

.helptext{
    color: gray;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}