{# This base file is used as a template for SIGNUP and SIGNIN #}
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/base_sign_inup.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons"><link rel = "stylesheet">

    <title>Kindle Manga - Sign Page</title>

</head>

<body>
<header>
    <div class="navbar-static-top">
        <nav id="top-nav">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">KM_DK</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://www.google.com"><i class="fa fa-question-circle"></i></a></li>
                    <li><a href="https://www.google.com"><i class="fa fa-cog"></i></a></li>
                    <li><a href="https://www.google.com"><i class="fa fa-user"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>


<div class="row login">
    <div class="col s12 14 offset-14">
        <div class="card">
            <div id="title-form" class="card-action teal white-text">
                <h3>Login</h3>
            </div>

            <div class="card-content">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" id="password">
                </div>
                <div id="div-remember" class="form-field">
                    <label>
                        <input type="checkbox">
                        <span><label for="remember">Remember me</label></span>
                    </label>
                </div>

                <div class="form-field center-align">
                    <button class="btn-large teal">Login</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<script src="{% static 'js/main.js' %}"></script>



</html>