{% extends 'layout/base.html' %}
{% load custom_filters %}


{% block body %}

    <h2 class="section-title">Dashboard</h2>

    <div class="main_content">

        {# #TODO add if to check there any subs for this user #}

        {% for sub in subs %}
            {{ sub }}<br>
            {{ sub.id }}<br>
            {{ base_url|add:sub.manga_reader_url }}
            <img src="{{ covers|get_item:sub.id }}" alt="">
        {% endfor %}

        <h3>You have not subscribed to any series yet.</h3>
        <br><br>
        <p class="hint">Find your favorite series on the <a href="#">Featured</a> or <a href="#">All Series</a> menu</p>

    </div>

{% endblock %}