{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}

    <div class="main_content">

        {% if subs %}
            <div class="subscriptions">
                <h3>Subscribed Mangas</h3>
            </div>
            <div class="row">
                {% for sub in subs %}
                    <div class="subscription">
                        <a href="{% url 'manga' sub.id %}">
                            <div class="card">
                                <div class="manga-title">
                                    <h4>{{ sub }}</h4>
                                </div>
                                {#                    {{ sub.id }}<br>#}
                                {#                    {{ base_url|add:sub.manga_reader_url }}#}

                                <div class="cover-box">
                                    <img src="/media/covers/{{ covers|get_item:sub.id }}" alt="{{ sub }} manga cover">
                                </div>
                            </div>
                    </div>
                    </a>
                {% endfor %}
            </div>

        {% else %} <!-- IN CASE USER THERE IS NO SUBSCRIPTIONS YET -->
            <h3>You have not subscribed to any series yet. &#128549;</h3>
            <br><br>
            <p class="hint">Find and <span style="color: lightcoral; font-style: italic">SUBSCRIBE</span> to your favorite series on the <a href="#">Featured page</a> or clicking on <a href="{% url 'manga_list' %}">All Series</a> button above. You can also use the <span style="color: lightcoral; font-style: italic">search box</span> in the top bar.</p>
            <br><br>
        {% endif %}

    </div>

{% endblock %}