{% extends 'layout/base.html' %}

{% block title %}
    TESTE
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    <p>Authenticated user</p>
    {% else %}
    <p>LOGGEDOUT user</p>
    {% endif %}
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
    <p>test1</p>
{% endblock %}