{% extends 'layout/base.html' %}
{% load static %}


{% block title %}
    {{ manga }}
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/manga.css' %}">
    <script src="{% static 'js/manga.js' %}"></script>
{% endblock %}


{% block body %}

    <div class="row manga-title">
        <h2>
            {{ manga }}
        </h2>
    </div>

    <div class="row flex-grow-1 bottom-row">

        <div class="col-lg-3">

            <div id="subscribe" class="card card-info subscribe {% if subbed %} {{ 'subbed' }} {% else %} {{ 'unsubbed' }} {% endif %}">

                <div class="hidden">
                    {% csrf_token %}
                    <input type="hidden" name="manga_id" value="{{ manga.id }}">
                </div>
                <div id="subscribe_text" class="sub-btn sub" style="{% if subbed %} {{ 'display: none;' }} {% else %} {{ 'display: block;' }} {% endif %}">
                    <span>Click to SUBSCRIBE</span>
                </div>
                <div id="unsubscribe_text" class="sub-btn unsub" style="{% if subbed %} {{ 'display: block;' }} {% else %} {{ 'display: none;' }} {% endif %}">
                    <span>Click to UNSUBSCRIBE</span>
                </div>
            </div>

            <div>
                <img id="cover" src="/media/covers/{{ manga.cover }}"  alt=""/>
            </div>
            <div class="card card-info">
                <span class="last-chapter date-info">Last chapter added at:</span><br>
                <span class="date">10/10/1999</span>
                <span class="last-scan date-info">Last scan made at:</span><br>
                <span class="date">10/12/2000</span>
            </div>
        </div>
        <div class="col">
            <div class="chapter-container card">
                <div class=" bottom-card chapters-card scrollbar-primary">
                    {{ manga.chapter }}
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                    <p>test</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block body_js %}

{% endblock %}