{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Manga List
{% endblock %}

{% block additional_head %}
    <script type="text/javascript" src="{% static "js/list.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block body %}
    <h2>List of available mangas</h2>


    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="search_filter">Filter name</label>
        <input id="search_filter" class="form-control form-control-lg" type="text" placeholder="Search your manga">
    </div>

    <div class="list-group">
        <ul id="manga-list" class="for-list">
            {% for manga in manga_list %}

                <li class="each-item list-group-item list-group-item-action">
                    <a href="{% url "manga" manga.id %}">
                        {{ manga.series_name }}
                    </a>
                </li>
            {% endfor %}
            {% if not manga %}
                <br><br>
                <h3 style="color: darkred"><span>There is no manga listed in the database or we have a problematic error here. Contact the admin.</span></h3>
            {% endif %}
        </ul>
    </div>


{% endblock %}