{% extends 'layout/base.html' %}
{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/sign.css'%}">
{% endblock %}

{% block title %}
    KM - Login
{% endblock %}

{% block body %}
    <div class="container h-100 justify-content-center align-items-center padding-offset">
        <div class="row h-100 justify-content-center align-items-center">
                <form method="POST">
                    <h2>Login Form</h2><br>
                    {% csrf_token %}
                    {{ signin_form.as_p }}
                    <div class="center-align btn-center">
                        <input id="submit_button" class="btn btn-primary btn-lg" type="submit" name="" value="Login">
                    </div>
                </form>
        </div>
    </div>
{% endblock %}