<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/base_sign_inup.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons"><link rel = "stylesheet">

    <title>Kindle Manga - Sign Page</title>

    <style type="text/css">
        body {
            background-image: url("/static/img/main_bg.png");
            background-size: cover;

        }

        .login{
            margin-top: 100px;
        }

        .login .card {
            background: rgba(0,0,0,.8);
            font-size: 16px;

        }
        input{
            color: white;
        }

        #title-form {
            text-align: center;
        }

    </style>
</head>

<body>

<div class="row login">
    <div class="col s12 14 offset-14">
        <div class="card">
            <div id="title-form" class="card-action red white-text">
                <h3>Login</h3>
            </div>

            <div class="card-content">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div>
                <div class="form-field">
                    <label for="password">Username</label>
                    <input type="password" id="password">
                </div>
                <div class="form-field">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>

                <div class="form-field center-align">
                    <button class="btn-large red">Login</button>
                </div>
            </div>

        </div>
    </div>
</div>


</body>


</html>